@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@using EcommercialWebApplication.Utility
@{
    var isSign = false;
    var roles = new string[1];
    if (SignInManager.IsSignedIn(User))
    {
        isSign = true;
        var currentUser = UserManager.FindByNameAsync(User.Identity.Name).Result;
        roles = UserManager.GetRolesAsync(currentUser).Result.ToArray();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommercialWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommercialWebApplication.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images//logo.png" alt="Shopee Logo" height="36" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>
                        
                        @if (roles.Contains("Admin") && isSign)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Coupons" asp-action="Index">Coupons</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">
                                Roles
                            </a>
                        </li>          
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_ChatPartial" />
        </main>
    </div>

    <footer class="border-top">
        <div class="container footer-detail">
            <p>Address: Capital Place Building, No. 29 Lieu Giai Street, Ngoc Khanh Ward, Ba Dinh District, Hanoi City, Vietnam.</p>
            <p><img src="~/images//logo.png" alt="Shopee Logo" height="100" /></p>
            <p>Total radio support: 19001221</p>
            <p>&copy; 2022 - Copyright belong to Shoppee Company - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>
    <script>
        let chatOn = false;
        let chatRecord = ["hello"];
        function onChat() {
            if (!chatOn) {
                let chat = document.getElementsByClassName('onchat')[0];
                chat.style.display = "block";
                let box = document.getElementsByClassName('chatbox')[0];
                box.style.height = "500px";
                box.style.width = "300px";
                chat.style.height = "500px";
                chat.style.width = "300px";
                chat.style.backgroundColor = "#ccc";
                box.childNodes[1].style.display = "block";
                let icon = document.getElementById("chat-open");
                icon.style.display = "none";
                // box.childNodes[2].style.display = "block";
                chatOn = true;
                box.classList.add('slideup');
                setTimeout(() => {
                    box.classList.remove('slideup');
                }, 500);
            }
        }

        function onCloseChat() {
            console.log(chatOn);

            let chat = document.getElementsByClassName('onchat')[0];
            chat.style.display = "none";
            let box = document.getElementsByClassName('chatbox')[0];
            box.style.height = "50px";
            box.style.width = "50px";
            chat.style.removeProperty('background-color');
            box.childNodes[1].style.display = "none";
            let icon = document.getElementById("chat-open");
            icon.style.display = "block";
            // box.childNodes[2].style.display = "none";
            chatOn = false;

        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
