@model Account
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="big-title">@ViewData["Title"]</h1>
<h2 class="small-title">Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating form-item">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" style="margin-top:50px;" class="text-danger"></span>
                <span class="alert-danger" style="margin-top:50px;">@ViewData["Error"]</span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-info">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
