@using System.Collections.Generic
@using EcommercialWebApplication.Models
@model Account
@{
    ViewData["Title"] = "Register";
}

<h1 id="register-title">@ViewData["Title"]</h1>
<div class="register-main">
    <div class="row main-row">
        <div class="col-12">
            <form id="registerForm" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="UserName"></label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" id="register-password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="ConfirmPassword" type="password" id="register-repeat-password" onchange="checkRepeat()" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <span class="text-danger field-validation-error" id="repeat-pasword-error"><span id="Password-error" class="">Repeated password must be the same as Password</span></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="PhoneNumber"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <span class="alert-danger">
                        @ViewData["Errors"] 
                    </span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}