html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.categories_list {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .categories_list .card {
        margin-top: 10px;
    }

.category_card:hover {
    color: orangered;
    cursor: pointer;
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
}

.categories_list h2 {
    margin-left: 10px;
    color: grey;
}

.product-list {
    margin-bottom: 50px;
}

    .product-list h2 {
        margin-left: 10px;
        color: grey;
        margin-bottom: 10px;
    }

    .product-list .card-header {
        padding: 20px;
    }

.card-header img {
    margin-left: 18%;
}

.card-body h5 {
    text-align: center;
}

.btn-group {
    margin-left: 60%;
}

.btn-success {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.btn-success:hover {
    background-color: sandybrown !important;
}

.footer-detail {
    padding-top: 30px;
    height: 240px;
    text-align: center;
}

.footer-detail p {
    margin-bottom: 0px !important;
    line-height: 40px;
    color:gray;
}
.product-item {
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-control-button {
    width: 120px !important;
    margin-left: 40%;
}
.form-group .btn-success {
    margin-top: 20px !important;
}
.form-label {
    line-height: 35px;
}
.table {
    margin-top: 20px;
}
.head-tr-table th{
    width: 100px;
    text-align:center;
}
.body-tr-table {
    text-align:center;
}
.body-tr-table td {
    vertical-align: middle;
}
.btn-update {
    margin-left: 15px;
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}
.btn-delete {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}
.cart-static {
    margin-top: 30px !important;
}
.money-static h3 {
    color: red;
    margin-bottom: 10px;
}
.form-checkout {
    margin-bottom: 40px;
}
.text-right {
    color:red;
    margin-left:60%;
}

/*Css Register*/
.register-title {
    text-align: center !important;
}

.register-main {
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /*    box-shadow: 5px 5px 8px #333;*/
    margin: 10px;
}

.main-row {
    width: 50%;
    margin: 3% auto 3% auto !important;
}

    .main-row form > div {
        margin: 15px 0 15px 0 !important;
    }

    .main-row button {
        margin-top: 50px;
  
  
    }


footer {
    background-color: #ccc;
}


@media only screen and (max-width: 740px) {
    html {
        font-size: 16px;
    }

    .navbar-toggler {
        margin-left: 40vw;
    }
    .nav-item {
        text-align: center !important;
    }
    .footer-detail {
        height: 350px;
    }
    .btn-group {
        margin-left: 50%;
    }
    .form-control-button {
        width: 120px !important;
        margin-left: 0%;
    }
    .form-group .btn-success {
        margin-top: 20px !important;
        margin-left:35%;
    }
    .product-img{
        margin-left: -20px;
    }
}

/*Chat css*/
.chatbox {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

    .chatbox > img:last-child {
        margin-left: 250px;
    }

    .chatbox:hover {
        -webkit-filter: drop-shadow(5px 5px 5px #333);
        filter: drop-shadow(5px 5px 5px #333);
    }

.chat-title {
    padding: 10px;
    border-bottom: 1px solid #333;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    .chat-title .row:last-child {
        text-align: right;
        z-index: 6;
    }

    .chat-title img {
        padding: 3px;
        height: 15px;
    }

        .chat-title img:hover {
            background-color: #ccc;
        }

.onchat {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.main-chat {
    height: 430px
}

.slideup {
    animation: glide 500ms ease-out backwards;
}


@keyframes glide {
    from {
        bottom: 10px;
        opacity: 0.5;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

/*Profile*/
.profile-nav {
    padding-left: 20px;
}

.profile-picture{
    margin-bottom: 5% !important;
    max-width: 40%;
    margin:auto;

}

.profile-picture img{
    width: 100%;
    border-radius: 50%;
}

.nav-div-none {
    height: 0px;
    overflow: hidden;
    animation: hide 1s;
    padding-left: 5px:;
}

.show {
    display: block !important;
    overflow: hidden;
    width: fit-content;
    padding: 5px;
    animation: slide 1s ease-in-out;
    width: 100%;
}

a{
    text-decoration: none!important;
    color: #333!important;
}

.profile-main-log {

    padding: 5px 10px 5px 10px;
}

    .profile-main-log ul {
        margin: 0;
        padding: 0;
    }

@keyframes slide {
    from {
        height: 0;
    }

    to {
        height: 50px;
    }
}

@keyframes hide {
    from {
        height: 50px;
    }

    to {
        height: 0;
    }
}

main{
    min-height: 80vh;
}

dt, dd{
    font-size: 20px;
}

a.btn-info, .profile-main-log a{
    font-size:16px;
}

