html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.categories_list {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .categories_list .card {
        margin-top: 10px;
    }

.category_card:hover {
    color: orangered;
    cursor: pointer;
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.49);
}

.categories_list h2 {
    margin-left: 10px;
    color: grey;
}

.product-list {
    margin-bottom: 50px;
}

    .product-list h2 {
        margin-left: 10px;
        color: grey;
        margin-bottom: 10px;
    }

    .product-list .card-header {
        padding: 20px;
    }

.card-header img {
    margin-left: 18%;
}

.card-body h5 {
    text-align: center;
}

.btn-group {
    margin-left: 60%;
}

.btn-success {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.btn-success:hover {
    background-color: sandybrown !important;
}

.footer-detail {
    padding-top: 30px;
    height: 240px;
    text-align: center;
}

.footer-detail p {
    margin-bottom: 0px !important;
    line-height: 40px;
    color:gray;
}
.product-item {
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-control-button {
    width: 120px !important;
    margin-left: 40%;
}
.form-group .btn-success {
    margin-top: 20px !important;
}
.form-label {
    line-height: 35px;
}
.table {
    margin-top: 20px;
}
.head-tr-table th{
    width: 100px;
    text-align:center;
}
.body-tr-table {
    text-align:center;
}
.body-tr-table td {
    vertical-align: middle;
}
.btn-update {
    margin-left: 15px;
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}
.btn-delete {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}
.cart-static {
    margin-top: 30px !important;
}
.money-static h3 {
    color: red;
    margin-bottom: 10px;
}
.form-checkout {
    margin-bottom: 40px;
}
.text-right {
    color:red;
    margin-left:60%;
}

/*Css Register*/
#register-title {
    text-align: center !important;
}

.register-main {
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /*    box-shadow: 5px 5px 8px #333;*/
    margin: 10px;
}

.main-row {
    width: 50%;
    margin: 3% auto 3% auto !important;
}

    .main-row form > div {
        margin: 5px 0 5px 0 !important;
    }


footer {
    background-color: #ccc;
}


@media only screen and (max-width: 740px) {
    html {
        font-size: 16px;
    }

    .navbar-toggler {
        margin-left: 40vw;
    }
    .nav-item {
        text-align: center !important;
    }
    .footer-detail {
        height: 350px;
    }
    .btn-group {
        margin-left: 50%;
    }
    .form-control-button {
        width: 120px !important;
        margin-left: 0%;
    }
    .form-group .btn-success {
        margin-top: 20px !important;
        margin-left:35%;
    }
    .product-img{
        margin-left: -20px;
    }
}