@model EcommercialWebApplication.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1 class="big-title">Delete</h1>
<div>
    <h4 class="small-title">Category</h4>
    <hr/>
    <h3 class="notify-delete">Are you sure you want to delete this?</h3>
    <dl class="row">
        <dt class = "col-md-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-md-2">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <div class="col-md-8">
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/carosel_1.png" class="d-block w-100" alt="carousel1">
                </div>
                <div class="carousel-item">
                    <img src="~/images/carosel_2.png" class="d-block w-100" alt="carousel2">
                </div>
                <div class="carousel-item">
                    <img src="~/images/carosel_3.png" class="d-block w-100" alt="carousel3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="category-link" asp-action="Index">Back to List</a>
    </form>
</div>
