@using EcommercialWebApplication.Models
@model OrderDetail
@using EcommercialWebApplication.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpcContextAccesstor
@{
    List<Product> products = HttpcContextAccesstor.HttpContext.Session.Get<List<Product>>("products");
    IDictionary<int, int> orderDetails = HttpcContextAccesstor.HttpContext.Session.Get<IDictionary<int, int>>("Quantities");
    if (products == null)
    {
        products = new List<Product>();
    }
    if(orderDetails == null)
    {
        orderDetails = new Dictionary<int,int>();
    }
}
@{
    ViewData["Title"] = "Cart";

}

<h2 class="text-info"> Your Cart</h2
<br />
<div class="row">
    <div style="overflow-x:auto;">
        <table class="table table-bordered">
        <thead>
            <tr class="head-tr-table">
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in products)
            {
                <tr class="body-tr-table">
                    <td>
                        <img src="~/@item.Image" width="150px" height="150px" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td class="quantiy-update">
                        <form method="post">
                            <input asp-for="ProductId" value=@item.Id type="hidden" />
                            <input asp-for="quantity" value=@orderDetails[@item.Id] max="@item.Stock" min=1 onkeydown="false"/>
                            <button type="submit" class="btn btn-info btn-update" asp-action="AddQuantity">Update</button>
                        </form>

                    </td>
                    <td>
                        <a asp-area="" asp-action="RemoveFromCart" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger btn-delete">
                            <i class="fas fa-trash-alt">Delete</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </table>
    </div>
    
</div>
<div class="row cart-static">
    <div class="col-9">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
    </div>
    <div class="col-3 money-static">
        <h3>Total Amount</h3>
        @{
            decimal total = 0;
            foreach(var product in products)
            {
                total += product.Price * orderDetails[product.Id];
            }
            HttpcContextAccesstor.HttpContext.Session.Set("TotalPrice", total);
        }
        <h3>Grant Total : @total </h3>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info btn-process">Process to Checkout</a>
    </div>
</div>
